@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


.hero{
    color: $White;
    margin: 3rem 4rem 0 4rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 42.25rem;

    &__inner-container{
        flex: 1 1 50%;
    }


    &__heading{
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    &__paragraph{
        display:flex;
        justify-content: center;
        text-align: justify;
        padding-right: 3rem;
    }

    &__paragraph-text{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6)
    }

    &__image-src{
        width: 15rem;
        height: auto;
    }

    &__logos{
        flex: 1 1 100%;
    }

    &__logos-college{
        width: 17rem;
        height: auto;
    }
}


.hero__inner-container,
.hero__logos{
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.fade-in{
    opacity: 1;
}

