@import './mixins';
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
     @include font-styling(400, $Black);
    background-image: url(../assets/pictures/test.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

