@import './mixins';
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
     @include font-styling(400, $Black);
    background: linear-gradient(to bottom, $Silver, #2a5298);
    background-repeat: no-repeat;   // prevent tiling
    background-attachment: fixed;   // keeps gradient steady while scrolling
    background-size: cover;         // makes sure it stretches full height
    min-height: 100vh;  
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

