@import './mixins';
@import './variables';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
     @include font-styling(400, $Black);
    background-image: url(../assets/pictures/test.jpg);
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}


a{
    text-decoration: none;
    color:inherit;
    border: none;
    outline: none;

    &:visited{
        color: inherit;
    }

    &:hover, &:focus, &:active {
        color: inherit;
        text-decoration: none;
    }
}

ul{
    list-style-type: none;
}


