@font-face{
    font-family: "kantumPro";
    src: url(../assets/fonts/Kantumruy_Pro/static/KantumruyPro-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face{
    font-family: "kantumPro";
    src: url(../assets/fonts/Kantumruy_Pro/KantumruyPro-Bold.ttf) format("truetype");
    font-weight: 600;
}