// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;


//primary
$Blue: #2A5D9F;
//secondary
$Silver: #E5E5E5;
//text
$Black: #1C1C1C;
//accent
$Copper: #D97742;
//highlight
$Green: #2DD4BF;
