@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


.contact{
    color: $White;
}


.contact__title{
    padding: 5.5rem 0rem 4rem 3.5rem;


    &-text{
        color: $White;
        font-size: 3rem;
    }


}

.contact__content{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    margin-top: 9rem;

    &-resume{
        padding-bottom: 2rem;
    }
    &-linkedin{
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    &-email{
        display: flex;
        justify-content: center;
    }
}


