@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


.contact{
    color: $White;
}


.contact__title{
    padding: 5.5rem 0rem 4rem 3.5rem;


    &-text{
        color: $White;
        font-size: 3rem;
    }


}

.contact__content{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    margin-top: 9rem;

    &-list{
        display: flex;
        justify-content: space-between;
    }

    &-resume, &-linkedin{
        padding-right: 2rem;
    }

    &-email{
        display: flex;
        align-items: center;
    }

}

.contact__message{
    display: flex;
    justify-content: center;
}


.contact__message-text{
    font-size: 2rem;
    padding: 5.5rem 3.5rem 4rem 3.5rem;
    line-height: 3rem;
    
}

.contact__email-intro{
    padding-right: 0.5rem;
}



.contact__email-img, .contact__linkedin-img, .contact__resume-img{
    height: 2rem;
    padding-right: 0.5rem;
}

.contact__content-resume{
    display: flex;
    align-items: center;
}

.contact__linkedin-img{
    height: 2rem;
}

.contact__content-linkedin{
    display: flex;
    align-items: center;
}


