@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


main{
    height: auto;
}

.contact__title{
    padding: 5.5rem 0rem 4rem 3.5rem;


    &-text{
        color: $White;
        font-size: 3rem;
    }


}


