@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


.exp__title{
    padding: 5.5rem 0rem 4rem 3.5rem;


    &-text{
        color: $White;
    }
}

.exp__egad{
    padding-left: 3.5rem;


    &-img{
        height: 6.5rem;
    }

}
