@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


.exp__title{
    padding: 5.5rem 0rem 4rem 3.5rem;


    &-text{
        color: $White;
    }
}

.exp__egad{
    padding-left: 3.5rem;


    &-img{
        height: 6.5rem;
    }

    &-text{
        color:$White;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        line-height: 2;
        display:flex;
        justify-content: center;
        text-align: justify;
        padding-right: 10%;
    }

}
