@use '../../styles/global';
@import '../../styles/variables';
@import '../../styles/mixins';


h1{
    font-size: 3rem;
}


.exp{
    display: flex;
    flex-wrap: wrap;
    margin: 6rem 4rem 0 4rem;
    padding-top: 5rem;
    
}


.exp__title{
    
    margin-bottom: 2rem; 

    &-text{
        color: $White;
    }
}

.exp__egad{
    display: flex;
    align-items: center;


    &-img{
        height: 6rem;
        padding-right: 3.25rem;
    }

    &-text{
        color:$White;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        line-height: 2;
        display:flex;
        justify-content: center;
        text-align: justify;
        font-size: 1.15rem;
    }

}

.exp__we{
    
    display: flex;
    padding-top: 2rem;
    align-items: center;

    &-img{
        height: 10.4rem;
        padding-right: 2rem;
    }

    &-text{
        color:$White;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        line-height: 2;
        display:flex;
        justify-content: center;
        text-align: justify;
        font-size: 1.15rem;
    }
}


.exp__tawm{

    display: flex;
    align-items: center;


    &-img{
        height: 20rem;
        padding-right: 1.5rem;
    }

    &-text{
        color: $White;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        line-height: 2;
        display:flex;
        justify-content: center;
        text-align: justify;
        font-size: 1.15rem;
        padding-bottom: 2.25rem;
    }
}
